@import "tailwindcss";

:root {
  --background: #180501;
  --foreground: #FEEBE7;
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -10;
  pointer-events: none;
}

.scroll-container {
  position: relative;
  width:100%;
  inset: 0;
  z-index: 0;
  isolation: isolate;
}

section {
  min-height: 100dvh;
}
